* {
  margin: 0;
  padding: 0;
}

$site-width: 1140px;

@mixin lato-font($weight: 400, $size: 14px, $height: 17px, $color: #000000) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex-justify($justify: space-between) {
  display: flex;
  justify-content: $justify;
}

.container {
  width: $site-width;
  margin: 0 auto;
}

.header_main {
  background-color: black;
}

.header_menu_flex {
  height: 75px;
  @include flex-justify();
}

.header_main_menu {
  list-style-type: none;
  display: flex;
}

.header_main_menu li {
  margin-right: 41px;
  display: flex;
  align-items: center;
}

.header_secondary_menu {
  list-style-type: none;
  display: flex;
}

.header_menu_item {
  margin-right: 32px;
  position: relative;
}

.header_menu_item:last-of-type {
  margin-right: unset;
}

.header_menu_link {
  display: flex;
  align-items: center;
  height: 100%;
}

.header_menu_link:hover .logo_svg {
  filter: drop-shadow(2px 0px 6px rgb(255 106 106 / 0.6));
}

.header_menu_link:hover .menu_svg path {
  fill: #F16D7F;
}

.element_hidden {
  display: none !important;
}

.mega_box {
  display: flex;
  position: absolute;
  width: 232px;
  height: 764px;
  background-color: #FFFFFF;
  box-shadow: -2px 2px 5px black;
  z-index: 100;
}

.mega_box_close {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 202px;
  margin-top: 16px;
  width: 20px;
  height: 20px;
}

.mega_head {
  @include lato-font($weight: 700);
  margin-top: 8px;
  margin-left: 34px;
  margin-bottom: 4px;
}

.mega_heading {
  @include lato-font($color: #F16D7F);
  margin-top: 20px;
  margin-left: 34px;
}

.mega_link {
  display: block;
  @include lato-font($color: #6F6E6E);
  text-decoration: none;
  margin-top: 12px;
  margin-left: 54px;
}

.mega_link:hover {
  color: #F16D7F;
}

.main_top {
  background-color: #F1E4E6;
  height: 764px;
}

.main_top_flex {
  height: 100%;
  @include flex-justify($justify: right);
  align-items: center;
  background-image: url("img/header_man.png");
  background-repeat: no-repeat;
  background-position: -65% 50%;
}

.main_top_brand {
  padding-right: 100px;
}

.main_content_flex {
  @include flex-justify();
  flex-direction: column;
  margin-top: 65px;
}

.main_content_flex_catalog {
  @include flex-justify();
  flex-direction: column;
  margin-top: 50px;
}

.main_content_catalog_menu {
  display: flex;
  align-items: start;
}

.main_content_catalog_menu_item {
  display: flex;
  justify-content: start;
  width: 360px;
  margin-right: 30px;
  position: center;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.catalog_menu_filter_main, .catalog_menu_filter_extra {
  cursor: pointer;
  padding-top: 16px;
}

.catalog_menu_filter_main_summary {
  @include lato-font($weight: 600);
  margin-left: 16px;
  position: relative;
}

.catalog_menu_filter_main_summary::after {
  margin-left: 10px;
  content: url("img/filter.svg");
}

.catalog_menu_filter_main[open] .catalog_menu_filter_main_summary {
  color: #EF5B70;
}

.catalog_menu_filter_main[open] {
  border: 1px solid #fff;
  box-shadow: 0 0 8px 0 #000000;
  width: 360px;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  padding-bottom: 16px;
}

.catalog_menu_filter_main[open] .catalog_menu_filter_main_summary::after {
  content: url("img/filter_red.svg");
}

.catalog_menu_filter_main_inner {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
}

.catalog_menu_filter_main_inner_summary:hover {
  color: #EF5B70;
}

.catalog_menu_filter_main_inner[open] .catalog_menu_filter_main_inner_summary {
  color: #EF5B70;
}

.catalog_menu_filter_main_inner_summary {
  @include lato-font($color: #6F6E6E);
  display: flex;
  align-items: center;
}

.catalog_menu_filter_main_inner_summary::before {
  content: url("img/red_rect.svg");
  padding-right: 10px;
}

.catalog_menu_filter_main_inner_item {
  text-decoration: none;
  @include lato-font($color: #6F6E6E);
  margin-left: 34px;
  margin-top: 12px;
}

.catalog_menu_filter_main_inner_item:hover {
  color: #EF5B70;
}

.catalog_menu_filter_extra {
  margin-right: 28px;
  text-align: center;
}

.catalog_menu_filter_extra:last-of-type {
  margin-right: 0;
}

.catalog_menu_filter_extra_summary {
  display: block;
  @include lato-font($color: #6F6E6E);
  align-content: center;
  white-space: nowrap;
  height: 18px;
}

.catalog_menu_filter_extra_summary::after {
  margin-left: 10px;
  content: url("img/down_arrow.svg");
  top: 45%;
}

.catalog_menu_filter_extra_summary:hover {
  color: #EF5B70;
}

.catalog_menu_filter_extra_summary:hover::after {
  content: url("img/down_arrow_red.svg");
}

.main_content_top {
  @include flex-justify();
}

.main_content_top_item {
  position: relative;
  width: 32%;
  @include flex-justify($justify: space-around);
  align-items: center;
}

.main_content_item_img {
  width: 100%;
}

.main_content_item_text_container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_content_item_text_white {
  @include lato-font($size: 16px, $height: 19px, $color: #FFFFFF);
  text-align: center;
}

.main_content_item_text_red {
  @include lato-font($weight: 700, $size: 24px, $height: 29px, $color: #F16D7F);
  text-align: center;
}

.main_content_bottom {
  margin-top: 30px;
}

.main_content_bottom_item {
  width: 100%;
  position: relative;
  @include flex-justify($justify: space-around);
  align-items: center;
}

.main_content_featured_items {
  margin-top: 96px;
  margin-bottom: 48px;
  @include flex-justify();
  flex-direction: column;
}

.main_content_featured_items_catalog {
  margin-top: 64px;
  margin-bottom: 48px;
  @include flex-justify();
  flex-direction: column;
}

.main_content_featured_items_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 48px;
}

.main_content_featured_items_heading {
  @include lato-font($size: 30px, $height: 36px, $color: #222222);
}

.main_content_featured_items_text {
  @include lato-font($color: #9F9F9F);
}

.main_content_featured_items_flex {
  @include flex-justify();
  flex-wrap: wrap;
}

.main_content_item {
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}

.main_content_item_link {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #F8F8F8;
}

.main_content_item:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.main_content_item:hover .main_content_item_pic {
  filter: brightness(30%);
}

.main_content_item:hover .main_content_item_add_box {
  display: flex;
}

.main_content_item_txt_box {
  margin-top: 25px;
  padding-left: 16px;
  padding-bottom: 20px;
}

.main_content_item_txt_box_phar {
  @include lato-font($size: 13px, $height: 16px);
}

.main_content_item_txt_box_desc {
  @include lato-font($weight: 300, $color: #5D5D5D);
  margin-top: 12px;
}

.main_content_item_txt_box_coast {
  @include lato-font($size: 16px, $height: 19px, $color: #F16D7F);
  margin-top: 18px;
}

.main_content_item_prod {
  width: 360px;
  margin-bottom: 128px;
  position: relative;
}

.main_content_item_prod:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.main_content_item_add_box {
  width: 100%;
  top: 188px;
  position: absolute;
  display: none;
  justify-content: center;
  pointer-events: none;
}

.main_content_item_add_link {
  pointer-events: auto;
  text-decoration: none;
  @include flex-justify($justify: center);
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #fff;
}

.main_content_item_add_link:hover {
  box-shadow: 0 0 8px 0 #ffffff;
}

.main_content_item_add_text {
  @include lato-font($color: #FFFFFF);
  margin-left: 12px;
}

.main_content_button_flex {
  margin-top: 18px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse_all {
  @include lato-font($size: 16px, $height: 19px, $color: #FF6A6A);
  text-decoration: none;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  text-align: center;
  padding: 16px 38px 14px;
  cursor: pointer;
}

.browse_all:hover {
  box-shadow: 0 0 8px 0 #F26376;
}

.main_bottom_flex {
  @include flex-justify();
  flex-direction: row;
}

.main_bottom_item {
  margin-top: 104px;
  padding-bottom: 104px;
  @include flex-justify();
  flex-direction: column;
  max-width: 360px;
}

.main_bottom_item_ing {
  height: 44px;
  margin-bottom: 26px;
}

.main_bottom_item_header {
  @include lato-font($size: 19px, $height: 24px, $color: #FBFBFB);
  text-align: center;
  margin-bottom: 16px;
}

.main_bottom_item_text {
  @include lato-font($weight: 300, $color: #FBFBFB);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.reg_content {
  margin-top: 64px;
  margin-bottom: 96px;
  @include flex-justify();
  flex-direction: row;
}

.reg_contacts {
  @include flex-justify();
  flex-direction: column;
  max-width: 360px;
}

.contactChoice1 {
  display: inline-block;
}

.reg_header4 {
  @include lato-font($weight: 300, $size: 16px, $height: 19px, $color: #222222);
}

.entry_field {
  margin-top: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  border: 1px solid #B1B1B1;
  width: 100%;
  box-sizing: border-box;
}

.entry_field::placeholder {
  @include lato-font($weight: 300, $size: 13px, $height: 16px, $color: #B1B1B1);
}

.reg_sex_radio {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
}

.reg_sex_label {
  @include lato-font($weight: 300, $size: 11px, $height: 13px);
  position: relative;
  margin-right: 20px;
}

.reg_sex_label:last-of-type {
  margin-right: 0;
}

.sex_radio_custom {
  opacity: 0;
  position: absolute;
}

.sex_radio_custom, .reg_sex_label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.sex_radio_custom + .reg_sex_label:before {
  border-radius: 50%;
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  text-align: center;
}

.sex_radio_custom:checked + .reg_sex_label:before {
  content: '●';
  font-size: 16px;
}

.reg_contacts_info {
  margin-top: 16px;
  @include lato-font($weight: 300, $size: 13px, $height: 16px, $color: #B1B1B1);
}

.reg_form_submit {
  margin-top: 38px;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 16px 24px 16px 28px;
  @include lato-font($color: #FFFFFF);
  width: 166px;
  text-align: left;
  cursor: pointer;
}

.reg_form_submit:hover {
  box-shadow: 0 0 8px 0 #F26376;
}

.submit_arrow {
  margin-left: 20px;
}

.reg_loyalty {
  max-width: 652px;
}

.loyalty {
  @include lato-font($weight: 300, $size: 24px, $height: 29px);
  margin-bottom: 22px;
}

.loyalty_par {
  @include lato-font($weight: 300, $size: 24px, $height: 29px, $color: #000000);
  margin-bottom: 22px;
}

.reg_list {
  list-style: none;
}

.reg_list li:before {
  content: '✓';
  padding-right: 22px;
}

.footer_outer, .main_bottom {
  background-color: #222224;
}

.footer_inner_top {
  height: 448px;
  background-image: url("img/footer_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.top_product_outer {
  background-color: #F7F7F7;
  height: 777px;
  //position: absolute;
}

.top_product {
  display: flex;
  justify-content: center;
}

.top_pick {
  position: relative;
  z-index: 0;
}

//.top_pick {
//  display: flex;
//  position: relative;
//  margin-left: 290px;
//  margin-top: 10px;
//}

.cursor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 777px;
}

.cursor_1 {
  position: relative;
  cursor: pointer;
}

.cursor_2 {
  position: relative;
  cursor: pointer;
}

.cursor_div:hover .svg_arrow .svg_arrow_path {
  fill: #F16D7F;
}

.woman_collection_outer {
  padding-bottom: 64px;
}

.woman_collection {
  border: 1px solid #EAEAEA;
  background-color: white;
  position: relative;
  z-index: 1;
  margin-top: -64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.collection {
  @include lato-font($weight: 300, $color: #F16D7F);
  text-align: center;
}

.collection_separator {
  margin-top: 12px;
  margin-bottom: 12px;
}

.moschino {
  @include lato-font($weight: 300, $size: 18px, $height: 22px, $color: #4D4D4D);
  text-align: center;
}

.p_description {
  margin-top: 48px;
  margin-bottom: 32px;
  @include lato-font($weight: 300, $color: #5E5E5E);
  text-align: center;
  max-width: 555px;
}

.collection_cost {
  Font-family: Lato, sans-serif;
  Font-size: 24px;
  Line-height: 29px;
  color: #EF5B70;
  text-align: center;
}

.price_separator {
  margin-top: 64px;
  margin-bottom: 64px;
}

.prod_button {
  display: flex;
  margin-top: 48px;
  padding: 14px 56px 14px 24px;
  border: 1px solid #FF6A6A;
  cursor: pointer;
  background: transparent;
}

.prod_button_text {
  margin-left: 22px;
  @include lato-font($size: 16px, $height: 19px, $color: #F26376);
}

.prod_button:hover {
  box-shadow: 0 0 8px 0 #F26376;
}

.product_items {
  margin-bottom: 98px;
}

.main_top_cart {
  @include lato-font($size: 24px, $height: 29px, $color: #F16D7F);
  padding-top: 59px;
}

.cart {
  margin-right: 128px;
  padding-bottom: 72px;
}

.shopping_cart {
  margin-top: 96px;
  display: flex;
}

.first_cart_desc {
  padding-left: 31px;
  padding-top: 42px;
}

.img_cart {
  height: 302px;
}

.cart_1 {
  display: flex;
  box-sizing: border-box;
  width: 652px;
  height: 306px;
  border: solid #ffffff 1px;
  box-shadow: 0 0 8px 0 #807F7FFF;
  margin-bottom: 40px;
}

.cart_par {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart_cost {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.shipping_par {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.entry_quote {
  margin-top: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;
  border: 1px solid #B1B1B1;
  width: 111px;
  box-sizing: border-box;
}

.sub_total {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-right: 34px;
}

.grand {
  padding-right: 34px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shipping_sep {
  padding-right: 34px;
}

.total_cost{
  background-color: #F5F3F3;
  text-align: end;
  margin-top: 58px;
  border: solid #ffffff 1px;
  height: 214px;
  width: 360px;
}

.footer_inner_top_flex {
  @include flex-justify();
}

.footer_inner_top_item {
  margin-top: 86px;
  @include flex-justify($justify: flex-end);
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}

.footer_inner_top_item_img {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}

.footer_inner_top_item_text {
  @include lato-font($size: 20px, $height: 24px, $color: #222224);
  text-align: center;
}

.footer_inner_middle_item_second {
  padding-left: 100px;
  padding-right: 100px;
}

.footer_inner_top_form_header {
  @include lato-font($weight: 700, $size: 24px, $height: 40px, $color: #222224);
  text-align: center;
}

.footer_inner_top_form_text {
  @include lato-font($size: 18px, $height: 28px, $color: #222224);
  text-align: center;
}

.footer_inner_top_form {
  margin-top: 32px;
  background-color: #E1E1E1;
  width: 356px;
  height: 50px;
  border-radius: 50px;
  @include flex-justify();
}

.email_input_label {
  flex-grow: 2;
}

.email_input {
  border-radius: 50px 0 0 50px;
  height: 100%;
  background: transparent;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}

.email_input::placeholder {
  @include lato-font($color: #222224);
  opacity: 0.67;
}

.email_subscribe {
  flex-grow: 1;
  background-color: #E05C6E;
  border-radius: 0 50px 50px 0;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  @include lato-font($color: #FFFFFF);
  text-align: center;
  cursor: pointer;
}

.email_subscribe:hover {
  box-shadow: 0 0 8px 0 #F26376;
}

.footer_inner_bottom {
  @include flex-justify();
  align-items: center;
}

.footer_inner_bottom_item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.copyright {
  @include lato-font($size: 16px, $height: 19px, $color: #FBFBFB);
}

.footer_inner_bottom_menu {
  margin-top: 24px;
  margin-bottom: 24px;
  list-style-type: none;
  display: flex;
}

.footer_social {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

.footer_social:last-of-type {
  margin-right: unset;
}

svg:hover path.footer_social_svg_back {
  fill: #F16D7F;
}

.main_top_outer {
  background-color: #F1E4E6;
  height: 148px;
}

.main_top_reg {
  @include lato-font($size: 24px, $height: 29px, $color: #F16D7F);
  padding-top: 59px;
}

.main_top_catalog {
  @include flex-justify();
}

.main_top_catalog_header {
  @include lato-font($size: 24px, $height: 29px, $color: #F16D7F);
  padding-top: 59px;
}

.main_top_catalog_path {
  display: flex;
}

.main_top_catalog_path_start {
  @include lato-font($weight: 300, $color: #636363);
  padding-top: 65px;
}

.main_top_catalog_path_end {
  color: #F16D7F;
  margin-left: 4px;
}
